[init]
  defaultBranch = main

[alias]
  s = "status -s -b"
  cm = "commit"
  cmm = "commit -m"
  b = "branch -a -v"
  c = "checkout"
  cb = "checkout -b" # new branch
  rv = "remote -v"
  dh = "diff HEAD" # all changes
  ds = "diff --staged" # staged changes
  lg = "log --graph --decorate --oneline"
  lp = "log -p" # log diff
  lt = "log --simplify-by-decoration --oneline" # tags
  root="! cd $(git rev-parse --show-toplevel)" # go to root
  exec = "! exec " # run from root
  undo = "reset --soft HEAD~"

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  localBranch = yellow reverse
  remoteBranch = green
  added = yellow
  changed = red
  untracked = white dim

[commit]
  template = ~/.gitmessage

[pull]
  rebase = false

[include]
  path = ~/.gitconfig_local
