! ~/.Xresources file
!
! base16-gruvbox-hard theme

*.background:           #1d2021
*.color0:               #1d2021
*.color1:               #fb4934
*.color10:              #b8bb26
*.color11:              #fabd2f
*.color12:              #83a598
*.color13:              #d3869b
*.color14:              #8ec07c
*.color15:              #fbf1c7
*.color2:               #b8bb26
*.color3:               #fabd2f
*.color4:               #83a598
*.color5:               #d3869b
*.color6:               #8ec07c
*.color66:              #1d2021
*.color7:               #d5c4a1
*.color8:               #665c54
*.color9:               #fb4934
*.foreground:           #d5c4a1
*background:            #1d2021
*color0:                #1d2021
*color1:                #fb4934
*color10:               #b8bb26
*color11:               #fabd2f
*color12:               #83a598
*color13:               #d3869b
*color14:               #8ec07c
*color15:               #fbf1c7
*color2:                #b8bb26
*color3:                #fabd2f
*color4:                #83a598
*color5:                #d3869b
*color6:                #8ec07c
*color66:               #1d2021
*color7:                #d5c4a1
*color8:                #665c54
*color9:                #fb4934
*foreground:            #d5c4a1

*alphabackground:       #881d2021

URxvt*background:       [100]#1d2021
URxvt*borderColor:      [100]#1d2021
URxvt*cursorColor:      #d5c4a1
URxvt*depth:            32
URxvt*foreground:       #d5c4a1
URxvt*scrollBar:        false
URxvt*cursorBlink:      false
URxvt*saveLines:        10000


UXTerm*background:      #1d2021
UXTerm*cursorColor:     #d5c4a1
UXTerm*foreground:      #d5c4a1

XClock*background:      #1d2021
XClock*foreground:      #d5c4a1
XClock*hourColor:       rgba:fb/f1/c7/ff
XClock*majorColor:      rgba:fb/f1/c7/ff
XClock*minorColor:      rgba:fb/f1/c7/ff
XClock*minuteColor:     rgba:fb/f1/c7/ff
XClock*secondColor:     rgba:fb/f1/c7/ff

XTerm*background:       #1d2021
XTerm*cursorColor:      #d5c4a1
XTerm*foreground:       #d5c4a1

emacs*background:       #1d2021
emacs*foreground:       #d5c4a1
