! ~/.Xresources file

*.background:          #1d2021
*.color0:              #1d2021
*.color1:              #d72638
*.color2:              #88b92d
*.color3:              #f1991a
*.color4:              #1e8bac
*.color5:              #be4264
*.color6:              #1ba595
*.color7:              #d5d5d5
*.color8:              #666666
*.color9:              #d72638
*.color10:             #88b92d
*.color11:             #f1991a
*.color12:             #1e8bac
*.color13:             #be4264
*.color14:             #1ba595
*.color15:             #e5e5e5
*.foreground:          #d5d5d5
*background:           #1d2021
*color0:               #1d2021
*color1:               #d72638
*color2:               #88b92d
*color3:               #f1991a
*color4:               #1e8bac
*color5:               #be4264
*color6:               #1ba595
*color7:               #d5d5d5
*color8:               #666666
*color9:               #d72638
*color10:              #88b92d
*color11:              #f1991a
*color12:              #1e8bac
*color13:              #be4264
*color14:              #1ba595
*color15:              #e5e5e5
*foreground:           #d5d5d5

*alphabg:              #ff1d2021

URxvt*background:      [100]#1d2021
!URxvt*borderColor:     [100]#d5d5d5
URxvt*cursorColor:     #d5d5d5
URxvt*depth:           32
URxvt*foreground:      #d5d5d5
URxvt*scrollBar:       false
URxvt*cursorBlink:     false
URxvt*saveLines:       10000
